@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "PotSoft";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Manual de PotSoft {ViewBag.Manifest.Title}";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Guía que descibe detalladamente todas las funciones del sistema PotSoft para una mejor experiencia del usuario.
        </p>
    </div>
    <div class="col-md-2 text-center">
        <img class="img-responsive" src="~/Areas/GanSoftWeb/Content/img/logo.png" alt="Logo" />
    </div>
</div>