@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Notificar pruebas en plantas";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Por medio de esta ventana podrá reportar y verificar las pruebas en plantas que se le están implementando a los cultivos de la finca.
        </p>
        <p>
            Dependiendo de la configuración del módulo de producción podrá notificar las pruebas a nivel de lote para 
            obtener mayor información alrespecto, consulte la ayuda de históricos de pruebas.
        </p>
    </div>
    @*<div class="col-md-12">
        <h3>Especies de animales</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Esta ventana le permitirá Agregar un nuevo Cultivo al sistema, y modificar o eliminar los ya registrados.
                    Los datos mostrados en esta ventana pueden ordenarse según sus necesidades simplemente con hacer clic sobre el
                    encabezado de la columna por la cual desea ordenarlos; al hacer clic la primera vez sobre la columna, los datos
                    se ordenarán ascendentemente, y al hacer clic sobre el encabezado de columna una segunda vez, los datos se ordenarán descendentemente.
                </p>
                <p>
                    Igualmente podrá seleccionar si solo desea que aparezcan los activos seleccionando con el mouse la casilla correspondiente.
                </p>
                <p>
                    También puede utilizar los botones del teclado <b>F1</b> para solicitar la ayuda del sistema y <b>Esc</b> para salir de la ventana o presionar con el mouse los botones correspondientes que aparecen en el lado derecho de la ventana.
                </p>
            </div>
            <div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>
        </div>
    </div>*@
</article>