@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Notificar diagnóstico en plantas";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Por medio de esta ventana podrá reportar los diagnósticos en plantas que se estén llevando en la finca.
        </p>
        <p>
            Dependiendo de la configuración del módulo de producción podrá notificar los diagnósticos a nivel de lote
            para obtener mayor información al respecto, consulte la ayuda de históricos de diagnósticos.
        </p>
    </div>
    @*<div class="col-md-12">
        <h3>Especies de animales</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Le permite <b>Agregar</b>, <b>Modificar</b> y <b>Eliminar</b> categorías de animales. Los datos mostrados en esta ventana pueden ordenarse según sus necesidades simplemente con hacer
                    clic sobre el encabezado de la columna por la cual desea ordenarlos; al hacer clic la primera vez sobre la columna,
                    los datos se ordenarán ascendentemente, y al hacer clic sobre el encabezado de columna una segunda vez, los datos se
                    ordenarán descendentemente.
                </p>
                <p>
                    Podrá seleccionar si desea que el sistema muestre sólo los activos presionando con el mouse en la casilla correspondiente.
                </p>
                <p>
                    Podrá solicitar la ayuda del sistema presionando la tecla <b>F1</b> o con el mouse el botón correspondiente. Igualmente podrá salir de la ventana por medio de la tecla <b>Esc</b> o por el botón correspondiente.
                </p>
            </div>
            <div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>
        </div>
    </div>*@
</article>