@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Notificar actividades";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            En esta ventana se realiza la notificación de realización de actividades en cualquier módulo, unidad o lote.
        </p>
        <p>
            Una vez seleccionado un módulo, sólo podrá seleccionar aquellas unidades de producción definidas en el
            mismo; análogamente, al seleccionar una unidad de producción sólo podrá seleccionar los lotes de producción
            de la misma.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li> <a href="#Seleccionar">Seleccionar módulo de producción</a></li>
            <li> <a href="#SeleccionarActividad">Seleccionar actividad</a></li>
            <li> <a href="#EstablecerCantidad">Establecer cantidad</a></li>
            <li> <a href="#EstablecerCosto">Establecer costo de realización</a></li>
            <li> <a href="#AgregarComentario">Agregar comentario</a></li>
            <li> <a href="#BotonAgregar">Pulsar botón agregar</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Seleccionar">Seleccionar módulo de producción</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Puede seleccionar un módulo de producción de cualquiera de las siguientes formas:
                    <ol>
                        <li>Escriba el código del módulo en cuestión y pulse <b>Enter</b>.</li>
                        <li>
                            Invoque la ventana de consulta de módulos pulsando el botón ubicado a la derecha del campo reservado para el código o bien pulsando la tecla <b>F2</b>.<br>
                            Una vez abierta la ventana de consulta de módulos, el usuario podrá selecciona un módulo de cualquiera de las siguientes maneras:
                            <ul>
                                <li>Haciendo doble-clic sobre el módulo que desee seleccionar.</li>
                                <li>Seleccionando el módulo que desee y luego pulsando el botón <b>Ok</b>. </li>
                                <li>Seleccionando el módulo que desee y luego pulsando la tecla <b>Enter</b>.</li>
                            </ul>
                            <br>
                            Una vez seleccionado el módulo, puede seleccionar la unidad perteneciente a este módulo que desee de manera análoga a la selección del módulo.
                            Lo mismo se aplica a la selección del lote.<br><br>
                            Habiendo seleccionado la ubicación de la realización de la actividad, puede procederse a notificar la realización de la actividad en si.
                            Para ello debe observarse el siguiente procedimiento:
                        </li>
                    </ol>
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Potsoft/Content/img/capturas/69.jpg" class="thumbnail" data-lightbox="Notificar realización de actividad" data-title="Notificar realización de actividad">
                    <img class="img-responsive" src="~/Areas/Potsoft/Content/img/capturas/69.jpg" alt="Notificar realización de actividad" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="SeleccionarActividad">Seleccionar actividad a notificar</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    La actividad a notificar puede especificarse de tres maneras:
                    <ul>
                        <li> Escribiendo el código de la actividad y pulsando <b>Enter</b>. </li>
                        <li> Seleccionando el módulo que desee y luego pulsando el botón <b>Ok</b>. </li>
                        <li> Seleccionando el módulo que desee y luego pulsando la tecla <b>Enter</b>. </li>
                        <li>
                            Seleccionando la actividad de la lista de actividades programadas para el elemento
                            seleccionado (es decir, módulo, unidad o lote): para esto pulse el botón <b>Programadas</b>, el cual invocará
                            la ventana de actividades programadas, seleccione la actividad deseada y pulse <b>Enter</b>, o bien haga
                            doble-clic sobre la actividad para seleccionarla.
                        </li>
                    </ul>
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="EstablecerCantidad">Establecer cantidad</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Debe indicar la cantidad de unidades en que se mide la realización de la actividad empleadas en
                    su realización. Si los costos de actividad se calculan por realización (monto global) esta opción
                    queda inhabilitada.
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="EstablecerCosto">Establecer costo de realización</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    El sistema le sugerirá el costo de la actividad según el número de unidades de medida empleadas
                    basándose en la configuración de costo de realización establecida en las propiedades de actividades
                    asociadas al módulo.
                    El usuario puede variar este costo al notificar la actividad según su criterio; de ser así, el
                    sistema realizará automáticamente los ajustes necesarios en la configuración de costos de realización
                    de la actividad asociada al módulo de producción. Establezca la fecha y hora de inicio y finalización
                    de la actividad.
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="AgregarComentario">Agregar comentario</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Este paso es opcional. Si quiere que varias actividades se registren con el mismo comentario,
                    marque la casilla de verificación mantener comentario, de lo contrario el campo para el comentario
                    se limpiará cada vez que agregue una actividad.
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
            <div class="col-md-8">
                <p>
                    En la parte inferior de la ventana hay 3 botones que le permiten:
                    <ul>
                        <li> <b>Agregar: </b> podrá agregar actividades al histórico; esto tiene el mismo efecto de la notificación de actividades realizadas.</li>
                        <li> <b>Modificar: </b> permite modificar los datos de un registro histórico de actividad siempre y cuando la realización de dicha actividad no haya acarreado la modificación del inventario de animales.</li>
                        <li> <b>Eliminar: </b> permite eliminar un registro histórico de actividad siempre y cuando la realización de dicha actividad no haya acarreado la modificación del inventario de animales.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="BotonAgregar">Pulsar botón agregar</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Si todos los datos necesarios han sido introducidos, entonces puede agregar la actividad a la lista
                    de actividades notificadas que aparece en la parte inferior de la ventana, la cual muestra un
                    sumario de cada actividad notificada. Si lo desea, puede eliminar cualquiera de las actividades
                    notificadas seleccionándola y pulsando el botón <b>Eliminar</b>;
                    si elimina una actividad que había sido previamente programada, esta volverá a su estado inicial,
                    es decir, seguirá estando como pendiente en la programación de actividades. <br><br>
                    Adicionalmente, si la actividad es periódica, el sistema le preguntará si desea reprogramarla para realizarse dentro del
                    número de días especificado en la configuración de actividades de módulo a partir de la fecha de realización.
                </p>

            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
            <div class="col-md-8">
                <p>
                    Si en lugar de notificar una actividad esta modificando un registro histórico de actividad realizada,
                    entonces no se mostrará la lista de actividades agregadas y al pulsar el botón se cerrará la ventana.
                </p>
            </div>
        </div>
    </div>
</article>