@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Operaciones";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    @*<div class="col-md-12">
        <p class="lead">
            El Menú de operaciones funciona en base a lo seleccionado por el usuario en el área del Sistema, es decir, si tiene seleccionado <b>Módulo</b>, <b>Lote</b> o <b>Unidad de producción</b> las operaciones funcionaran en base a lo mismo.
        </p>
    </div>*@
    <div class="col-md-12">
        @*<h3>Especies de animales</h3>*@
    <div class="row">
        <div class="col-md-12">
            <p>
                El menú de operaciones funciona en base a lo seleccionado por el usuario en el área del sistema, 
                es decir, si tiene seleccionado <b>módulo</b>, <b>lote</b> o <b>unidad de producción</b> las 
                operaciones funcionaran en base a lo mismo.
            </p>
        </div>
        @*<div class="col-md-4">
                <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                    <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                </a>
            </div>*@
    </div>
    </div>
</article>