@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Operaciones";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <p>
                El menú de operaciones funciona en base a lo seleccionado por el usuario en el área del sistema, 
                es decir, si tiene seleccionado <b>módulo</b>, <b>lote</b> o <b>unidad de producción</b> las 
                operaciones funcionaran en base a lo mismo.
            </p>
        </div>
        <div class="col-md-4">
            <a href="~/Areas/Potsoft/Content/img/capturas/21.jpg" class="thumbnail" data-lightbox="Menú de operaciones" data-title="Menú de operaciones">
                <img class="img-responsive" src="~/Areas/Potsoft/Content/img/capturas/21.jpg" alt="Menú de operaciones" />
            </a>
        </div>
    </div>
    </div>
</article>