@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Cambiar usuario";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta opción permite seleccionar o cambiar el usuario que estará activo durante la ejecución del sistema. 
            Para ello debe seleccionar un nombre de usuario de la lista desplegable e ingresar su clave.
        </p>
    </div>
    <div class="col-md-12">
        @*<h3 id="Seleccionar">Seleccionar módulo de producción</h3>*@
        <div class="row">
            <div class="col-md-8">
                <p>
                    Al presionar la tecla <b>Enter</b> el programa verifica que la clave ingresada concuerde con la almacenada
                    en el registro del usuario seleccionado.
                    Si la clave no concuerda muestra el respectivo mensaje de error y no realiza la acción.<br>
                    Si desea abandonar la ventana o cuadro de diálogo presione la tecla <b>Esc</b>, quedando como usuario activo el último usuario seleccionado.
                    <br><br>
                    Esta opción también puede ser accedida por medio del icono correspondiente ubicado en la parte superior de la ventana.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Potsoft/Content/img/capturas/30.jpg" class="thumbnail" data-lightbox="Cambiar usuario" data-title="Cambiar usuario">
                    <img class="img-responsive" src="~/Areas/Potsoft/Content/img/capturas/30.jpg" alt="Cambiar usuario" />
                </a>
            </div>
        </div>
    </div>
</article>