@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Categorías de animales";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta ventana muestra un listado con las diferentes categorías adscritas al sistema y sus características (sexo, especie, si nace, se reproduce, si esta activa o si da leche
            y su equivalencia en unidades animal).
        </p>
    </div>
    <div class="col-md-12">
        @*<h3>Especies de animales</h3>*@
        <div class="row">
            <div class="col-md-8">
                <p>
                    Le permite <b>Agregar</b>, <b>Modificar</b> y <b>Eliminar</b> categorías de animales. Los datos
                    mostrados en esta ventana pueden ordenarse según sus necesidades simplemente con hacer
                    clic sobre el encabezado de la columna por la cual desea ordenarlos; al hacer clic la primera
                    vez sobre la columna, los datos se ordenarán ascendentemente, y al hacer clic sobre el encabezado
                    de columna una segunda vez, los datos se ordenarán descendentemente.
                </p>
            </div>
            <div class="col-md-4">
            <a href="~/Areas/Potsoft/Content/img/capturas/8.jpg" class="thumbnail" data-lightbox="Categorías de animales" data-title="Categorías de animales">
                <img class="img-responsive" src="~/Areas/Potsoft/Content/img/capturas/8.jpg" alt="Categorías de animales" />
            </a>
        </div>
            <div class="col-md-8">
                <p>
                    Podrá seleccionar si desea que el sistema muestre sólo los activos presionando con el mouse en la 
                    casilla correspondiente.
                </p>
            </div>
            <div class="col-md-8">
                <p>
                    Podrá solicitar la ayuda del sistema presionando la tecla <b>F1</b> o con el mouse el botón 
                    correspondiente. Igualmente podrá salir de la ventana por medio de la tecla <b>Esc</b> o por el 
                    botón correspondiente.
                </p>
            </div>
        </div>
    </div>
</article>