@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Cultivos";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta ventana le muestra los diferentes cultivos registrados en el sistema.
        </p>
    </div>
    <div class="col-md-12">
        @*<h3>Especies de animales</h3>*@
        <div class="row">
            <div class="col-md-8">
                <p>
                    Esta ventana le permitirá Agregar un nuevo Cultivo al sistema, y modificar o eliminar los ya registrados.
                    Los datos mostrados en esta ventana pueden ordenarse según sus necesidades simplemente con hacer clic sobre el
                    encabezado de la columna por la cual desea ordenarlos; al hacer clic la primera vez sobre la columna, los datos
                    se ordenarán ascendentemente, y al hacer clic sobre el encabezado de columna una segunda vez, los datos se ordenarán descendentemente.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Potsoft/Content/img/capturas/9.jpg" class="thumbnail" data-lightbox="Cultivos" data-title="Cultivos">
                    <img class="img-responsive" src="~/Areas/Potsoft/Content/img/capturas/9.jpg" alt="Cultivos" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    Igualmente podrá seleccionar si solo desea que aparezcan los activos seleccionando con el mouse la 
                    casilla correspondiente.
                </p>
            </div>
            <div class="col-md-8">
                <p>
                    También puede utilizar los botones del teclado <b>F1</b> para solicitar la ayuda del sistema y 
                    <b>Esc</b> para salir de la ventana o presionar con el mouse los botones correspondientes que 
                    aparecen en el lado derecho de la ventana.
                </p>
            </div>
        </div>
    </div>
</article>