@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Lotes de producción";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Este menú está compuesto por diferentes opciones como son:
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Agregar">Agregar</a>
            </li>
            <li>
                <a href="#Agregar">Modificar</a>
            </li>
            <li>
                <a href="#Agregar">Eliminar</a>
            </li>
            <li>
                <a href="#Planos">Planos</a>
            </li>
            <li>
                <a href="#Fotos">Fotos</a>
            </li>
            <li>
                <a href="#Variables">Variables</a>
            </li>
            <li>
                <a href="#HistoricoActividades">Histórico de actividades/labores</a>
            </li>
            <li>
                <a href="#HistoricoProduccion">Histórico de producción</a>
            </li>
            <li>
                <a href="#HistoricoMovimientos">Histórico de movimientos</a>
            </li>
            <li>
                <a href="#HistoricoDiagnostico">Histórico de diagnóstico en plantas</a>
            </li>
            <li>
                <a href="#HistoricoTratamientos">Histórico de tratamientos en plantas</a>
            </li>
            <li>
                <a href="#HistoricoPruebas">Histórico de pruebas en plantas</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Agregar">Agregar y modificar lotes de producción</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En PotSoft se definen los lotes de producción como el tercer y último nivel organizacional en un sistema de producción, es allí donde se ubican los cultivos y/o animales dependiendo del tipo de sistema de producción que se esté implementando.
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
            <div class="col-md-8">
                <p>
                    Los datos básicos requeridos para definir un lote de producción son:
                    <ul>
                        <li>
                            <b>Código: </b> Debe especificarse un código único para cada lote de producción, de 1 carácter de longitud como mínimo y de 4 caracteres de longitud como máximo. Los caracteres pueden ser alfanuméricos y siempre se tomarán en mayúsculas.
                        </li>
                        <li>
                            <b>Nombre del lote: </b> Debe especificarse un nombre único para cada lote de producción, de 1 carácter de longitud como mínimo y de 40 caracteres de longitud como máximo. Los caracteres pueden ser alfanuméricos.
                        </li>
                        <li>
                            <b>Cultivos: </b> En este tab puede asociar cultivos al lote; que este lote empleará; en la lista de la izquierda se muestran los cultivos registrados en el sistema, mientras que en la lista de la derecha se muestran los cultivos que han sido asociados al lote de producción.
                            Para asociar cultivos al lote de producción, simplemente marque la casilla de verificación ubicada al lado izquierdo de cada cultivo y pulse el botón <b>Agregar</b>, o bien puede hacerlo individualmente haciendo doble-clic sobre cada uno de ellos. Si no encuentra el cultivo
                            deseado en la lista, puede invocar la ventana de categorías del sistema pulsando el botón correspondiente o pulsando la tecla <b>F3</b>.<br>
                            Debajo de la lista aparecen categorías asociadas; hay 3 botones:
                            <ul>
                                <li>
                                    <b>Modificar: </b>Le permite Modificar las propiedades del cultivo seleccionado. Para seleccionar un cultivo no es necesario marcar su casilla de verificación.
                                </li>
                                <li>
                                    <b>Eliminar: </b>Elimina los cultivos asociadas al lote de producción cuya casilla de verificación esté marcada.
                                </li>
                                <li>
                                    <b>Eliminar todas: </b>Elimina todos los cultivos asociados al módulo de producción aunque sus casillas de verificación no estén marcadas.
                                </li>
                            </ul>
                        </li>
                        <li>
                            <b>Inventario de animales: </b> Muestra el listado de animales que se encuentran en el lote de producción.
                        </li>
                        <li>
                            <b>Variables: </b> Si ha definido variables personalizadas para los lotes de producción podrá Asignar Valores a Variables de Lote correspondiente a cada una de ellas,
                            simplemente seleccionado la celda correspondiente al valor de la variable y comenzar a escribir su valor. Si no hay variables definidas o necesita definir una variable en especial pulse el botón Variables o pulse la tecla <b>F3</b>.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Planos">Planos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En esta ventana se construyen los planos de lotes, así como también los Planos No Asociados. Para construir el plano debe ingresar los puntos que lo constituyen en el orden adecuado. Para cerrar el plano el último punto debe ser igual al primero.
                </p>
                <p>
                    El sistema le mostrará el plano a medida que vaya ingresando los puntos; adicionalmente puede decidir que tipo de numeración quiere emplear para los puntos en el área de dibujo.
                </p>
            </div>
            @*<div class="col-md-4">
            <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
            </a>
        </div>*@
            <div class="col-md-8">
                <p>
                    Los pasos para construir el plano son los siguientes:
                    <ol>
                        <li>
                            Debe especificar un nombre único para el plano no mayor de 40 caracteres.
                        </li>
                        <li>
                            Si está construyendo un plano de potrero o de un elemento perteneciente a un potrero, sólo tendrá disponibles los puntos que pertenecen a ese potrero. Puede invocar la ventana de coordenadas para ese potrero con el botón correspondiente. Si está construyendo un plano no asociado, entonces tendrá a su disposición todos los puntos que se hayan ingresado al sistema.
                        </li>
                        <li>
                            Ingrese los puntos en el orden adecuado de cualquiera de las siguientes maneras:
                            <ul>
                                <li>
                                    Haga doble-clic sobre el punto que desee agregar al plano en la lista de puntos del módulo.
                                </li>
                                <li>
                                    Seleccione el punto que desee agregar al plano en la lista de puntos del módulo y pulse <b>Enter</b>.
                                </li>
                                <li>
                                    En la rejilla de puntos del plano escriba el número del punto que desee agregar.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </p>
            </div>
            <div class="col-md-8">
                <p>
                    En la parte inferior de la ventana hay tres botones:
                    <ul>
                        <li>
                            <b>Insertar: </b>inserta un punto en la posición seleccionada.
                        </li>
                        <li>
                            <b>Eliminar: </b>elimina el punto seleccionado.
                        </li>
                        <li>
                            <b>Borrar todo: </b>borra todos los puntos del plano.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Fotos">Fotografías de lotes de producción</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En esta ventana podrá agregar y modificar las fotografías del módulo de producción, así como también borrarlas.<br>
                    Para asociar una fotografía a un módulo de producción, debe indicar un código (único para cada fotografía del módulo) alfanumérico de 1 carácter de longitud como mínimo y 4 caracteres de longitud como máximo, una fecha, la ruta del archivo de imagen y, opcionalmente, un comentario.<br>
                    Puede asociar al módulo tantas fotos como quiera.
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Variables"> Variables de módulos de producción </h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Esta ventana le muestra las variables personalizadas de lotes de producción que se encuentran 
                    registradas en el sistema así como el tipo de las mismas. Los datos mostrados en esta ventana pueden 
                    ordenarse según sus necesidades simplemente con hacer clic sobre el encabezado de la columna por la 
                    cual desea ordenarlos; al hacer clic la primera vez sobre la columna, los datos se ordenarán ascendentemente, 
                    y al hacer clic sobre el encabezado de columna una segunda vez, los datos se ordenarán descendentemente. 
                    Desde esta ventana puede <b>Agregar</b> y <b>Modificar</b> variables de lote y al mismo tiempo eliminar las variables personalizadas de 
                    ámbito general mediante los botones de la ventana.
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="HistoricoActividades">Histórico de actividades/labores</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En esta ventana se muestran todas las actividades realizadas en un módulo, unidad o lote de producción, ordenadas por fecha de manera descendente, es decir, mostrando primero las actividades realizadas más recientemente.En esta ventana se muestran todas las actividades realizadas en un módulo, unidad o lote de producción, ordenadas por fecha de manera descendente, es decir, mostrando primero las actividades realizadas más recientemente.
                    <br><br>
                    Por defecto, sólo se muestran los actividades realizadas en el mes en curso. Adicionalmente, puede filtrar el listado histórico de actividades por actividad y rangos de fechas.
                </p>
                <p>
                    En la parte inferior de la ventana hay 3 botones que le permiten:
                    <ul>
                        <li>
                            <b>Agregar: </b> podrá agregar actividades al histórico; esto tiene el mismo efecto de la notificación de actividades realizadas.
                        </li>
                        <li>
                            <b>Modificar: </b> permite modificar los datos de un registro histórico de actividad siempre y cuando la realización de dicha actividad no haya acarreado la modificación del inventario de animales.
                        </li>
                        <li>
                            <b>Eliminar: </b> permite eliminar un registro histórico de actividad siempre y cuando la realización de dicha actividad no haya acarreado la modificación del inventario de animales.
                        </li>
                    </ul>
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="HistoricoProduccion">Histórico de producción</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En esta ventana se muestran todas las actividades realizadas en un módulo, unidad o lote de producción, ordenadas por fecha de manera descendente, es decir, mostrando primero las actividades realizadas más recientemente.En esta ventana se muestran todas las actividades realizadas en un módulo, unidad o lote de producción, ordenadas por fecha de manera descendente, es decir, mostrando primero las actividades realizadas más recientemente.
                    <br><br>
                    Por defecto, sólo se muestran los actividades realizadas en el mes en curso. Adicionalmente, puede filtrar el listado histórico de actividades por actividad y rangos de fechas.
                </p>
                <p>
                    En la parte inferior de la ventana hay 3 botones que le permiten:
                    <ul>
                        <li>
                            <b>Agregar: </b> podrá agregar producciones al histórico; esto tiene el mismo efecto de la notificación de producción.
                        </li>
                        <li>
                            <b>Modificar: </b> permite modificar los datos de un registro histórico de producción.
                        </li>
                        <li>
                            <b>Eliminar: </b> permite eliminar un registro histórico de producción.
                        </li>
                    </ul>
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="HistoricoMovimientos">Histórico de movimientos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En esta ventana se muestra un sumario de todos los movimientos de animales realizados en un módulo, unidad o lote de producción, ordenados por fecha de manera descendente, es decir, mostrando primero los movimientos realizados más recientemente.
                    <br><br>
                    Por defecto, sólo se muestran los movimientos realizados en el mes en curso. Adicionalmente, puede filtrar el listado histórico de movimientos por tipo de movimiento y rangos de fechas. Al seleccionar un registro histórico de movimiento de la lista, se muestran los detalles del mismo en la lista inferior.
                </p>
                <p>
                    En la parte inferior de la ventana hay 3 botones que le permiten:
                    <ul>
                        <li>
                            <b>Agregar: </b> podrá agregar movimientos al histórico; esto tiene el mismo efecto de la notificación de movimientos.
                        </li>
                        <li>
                            <b>Modificar: </b> permite modificar los datos de un registro histórico de movimiento siempre y cuando la realización de dicho movimiento no haya acarreado la modificación del inventario de animales de otro lote.
                        </li>
                        <li>
                            <b>Eliminar: </b> permite eliminar un registro histórico de movimiento.
                        </li>
                    </ul>
                </p>
            </div>
            @*<div class="col-md-4">
                    <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                        <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                    </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="HistoricoDiagnostico">Histórico de diagnóstico para plantas</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En esta ventana se muestran todas los diagnósticos realizados a las plantas que están registradas en el módulo de producción, unidad o lote de producción ordenadas según el tipo de lote, cultivo, hilera, posición y diagnóstico, incluye también un comentario donde indique el tipo de afección que presenta la planta.
                    <br><br>
                    Por defecto, sólo se muestran los actividades realizadas en el mes en curso. Adicionalmente, puede filtrar el listado histórico de diagnósticos por diagnósticos y rangos de fechas.
                </p>
            </div>
            @*<div class="col-md-4">
                        <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                            <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                        </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="HistoricoTratamientos">Histórico de tratamientos para plantas</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En esta ventana se muestran todas los tratamientos que le serán realizados a las plantas que están registradas en el módulo de producción, unidad o lote de producción ordenadas según el tipo de lote, cultivo, hilera, posición y tratamientos, incluye también un comentario donde indique alguna anomalía que presenta la planta.
                    <br><br>
                    Por defecto, sólo se muestran los actividades realizadas en el mes en curso. Adicionalmente, puede filtrar el listado histórico de tratamientos por tratamientos y rangos de fechas.
                </p>
            </div>
            @*<div class="col-md-4">
                        <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                            <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                        </a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="HistoricoPruebas">Histórico de pruebas para plantas</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En esta ventana se muestran todas las pruebas que le serán aplicadas a las plantas que están registradas en el módulo de producción, unidad o lote de producción, ordenadas según el tipo de lote, cultivo, hilera, posición y tratamientos, incluye también un comentario donde indique alguna anomalía que presenta la planta.
                    <br><br>
                    Por defecto, sólo se muestran los actividades realizadas en el mes en curso. Adicionalmente, puede filtrar el listado histórico de pruebas por pruebas y rangos de fechas.
                </p>
            </div>
            @*<div class="col-md-4">
                        <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                            <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
                        </a>
                </div>*@
        </div>
    </div>
</article>