@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Planos no asociados";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            El lano no asociado es un concepto del sistema el cual permite crear planos varios, es decir, otros planos 
            distintos de los que maneja el sistema de control de potreros.
        </p>
    </div>
    <div class="col-md-12">
        @*<h3>Especies de animales</h3>*@
        <div class="row">
            <div class="col-md-8">
                <p>
                    Esta ventana muestra los planos no asociados registrados en el sistema, a la vez que permitirá al 
                    usuario agregar un nuevo plano no asociado, y modificar o eliminar los ya creados.
                </p>
            </div>
            @*<div class="col-md-4">
            <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
            </a>
        </div>*@
            <div class="col-md-8">
                <p>
                    Al agregar un nuevo plano es necesario indicar las coordenadas de los puntos en los que será fijado, 
                    y cabe destacar que la última coordenada deberá ser igual a la primera, para el plano pueda ser 
                    cerrado.
                </p>
            </div>
        </div>
    </div>
</article>