@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Unidades de medición";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Esta ventana muestra las diferentes unidades de medida registradas en el sistema y su tipo.
        </p>
    </div>
    <div class="col-md-12">
        @*<h3>Especies de animales</h3>*@
        <div class="row">
            <div class="col-md-8">
                <p>
                    Los datos mostrados en esta ventana pueden ordenarse según sus necesidades simplemente con hacer clic sobre el
                    encabezado de la columna por la cual desea ordenarlos; al hacer clic la primera vez sobre la columna, los datos
                    se ordenarán ascendentemente, y al hacer clic sobre el encabezado de columna una segunda vez, los datos se ordenarán descendentemente.<br>
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Potsoft/Content/img/capturas/17.jpg" class="thumbnail" data-lightbox="Unidades de medición" data-title="Unidades de medición">
                    <img class="img-responsive" src="~/Areas/Potsoft/Content/img/capturas/17.jpg" alt="Unidades de medición" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    Igualmente podrá <b>Agregar</b>, <b>Modificar</b> o <b>Eliminar</b> unidades de medición por medio de las diferentes opciones que le brinda esta ventana.
                </p>
            </div>
            <div class="col-md-8">
                <p>
                    El usuario puede también filtrar los tipos de medición, los cuales puede ser todos los tipos o definirlas por unidades de volumen, de peso, de longitud,
                    de superficie, de capacidad, personalizadas, de velocidad, de potencia etc., seleccionando el tipo deseado en la lista desplegable ubicada para tal efecto en la parte superior derecha de la ventana.<br><br>
                    Al agregar una nueva unidad de medición el sistema le pedirá que registre el nombre, el tipo de unidad de medición y el factor de conversión.
                </p>
            </div>
        </div>
    </div>
</article>