@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Contenido";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            En ésta opción es posible encontrar soporte acerca del manejo adecuado de las diferentes opciones que 
            muestra el sistema PotSoft.
        </p>
    </div>
    <div class="col-md-12">
        @*<h3 id="Seleccionar">Seleccionar módulo de producción</h3>*@
        <div class="row">
            <div class="col-md-8">
                <p>
                    Para tener acceso a ésta ventana, diríjase al menú <b>Ayuda</b>, opción <b>Contenido</b>,
                    se desplegará el manual de usuario desde el cual deberá hacer clic en la opción en la que requiere
                    asistencia en el menú presentando en una estructura de tipo árbol situada en la parte izquierda de
                    la ventana y de ésta forma tendrá acceso a la secuencia de pasos detallados que deberá seguir para
                    ejecutar de manera adecuada cada una de las funciones que cumple el sistema.
                </p>
            </div>
            @*<div class="col-md-4">
            <a href="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" class="thumbnail" data-lightbox="Menú archivo" data-title="Menu archivo">
                <img class="img-responsive" src="~/Areas/GanSoftPro/Content/img/captures/Archivo.jpg" alt="Menú archivo" />
            </a>
        </div>*@
            <div class="col-md-8">
                <p>
                    El manual ha sido estructurado de forma tal que sea sencilla la ubicación de las diferentes opciones 
                    que ofrece el sistema, las cuales se presentarán en la parte derecha de la ventana de acuerdo con la
                    selección del usuario en el menú principal estructurado en forma de árbol. Además de ello, en la 
                    parte inferior de cada opción, se presentan los botones que contiene cada ventana con la finalidad de 
                    que el usuario al hacer clic sobre éstos, se despliegue un cuadro de texto o una nueva ventana con 
                    los detalles que faciliten la comprensión del manejo óptimo del programa PotSoft.
                </p>
            </div>
            <div class="col-md-8">
                <p>
                    Adicionalmente, desde ésta opción encontrará información detallada en relación con los beneficios 
                    que ofrece el sistema, la plataforma empleada para su diseño, así como también los requerimientos 
                    mínimos para la instalación y óptimo funcionamiento de PotSoft.
                </p>
            </div>
        </div>
    </div>
</article>